.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 0px 18px 0px 0px;
  max-width: 516px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 670px) {
  .profile__title {
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin-right: 10px;
  }
}
