.popup__input {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px 36px 30px 36px;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 670px) {
  .popup__input {
    max-width: 238px;
    width: 100%;
    margin-left: 22px;
    margin-right: 22px;
  }
}

