@import url(../vendor/normalize.css);
@import url(../bloks/page/page.css);
@import url(../bloks/body/body.css);

@import url(../bloks/header/header.css);
@import url(../bloks/header/__logo/header__logo.css);

@import url(../bloks/footer/footer.css);

@import url(../bloks/element/element.css);
@import url(../bloks/element/__caption/element__caption.css);
@import url(../bloks/element/__image/__image.css);
@import url(../bloks/element/__like/element__like.css);
@import url(../bloks/element/__like/_active/element__like_active.css);
@import url(../bloks/element/__name/element__name.css);
@import url(../bloks/elements/elements.css);

@import url(../bloks/popup/popup.css);
@import url(../bloks/popup/__close-button/popup__close-button.css);
@import url(../bloks/popup/__container/popup__container.css);
@import url(../bloks/popup/__input/popup__input.css);
@import url(../bloks/popup/__save-button/popup__save-button.css);
@import url(../bloks/popup/__title/popup__title.css);
@import url(../bloks/popup/_opened/popup_opened.css);


@import url(../bloks/profile/__add-button/profile__add-button.css);
@import url(../bloks/profile/__avatar/profile__avatar.css);
@import url(../bloks/profile/__edit-button/profile__edit-button.css);
@import url(../bloks/profile/__edit-name/profile__edit-name.css);
@import url(../bloks/profile/__subtitle/profile__subtitle.css);
@import url(../bloks/profile/__title/profile__title.css);
@import url(../bloks/profile/__two-column/profile__two-column.css);
@import url(../bloks/profile/profile.css);



